
<div *ngIf="!(loader$|async)">
    <!-- <div class=""> -->
    <div class="users-container" *ngIf="(users|filter:serchText).length>0 ;else noUser">
        <div class="user-container" *ngFor="let user of users|filter:serchText">
            <a routerLink="{{user.id}}">
                <app-user [userdata]="user"></app-user>
            </a>
        </div>
        
    </div>
    
    <ng-template #noUser>
        <p class="no-users">no user matches</p>
    </ng-template>
    
<!-- </div> -->

<app-pagination (pageNum)="changePageIndex($event)" [totalPages]="totalPges"
    [currentPage]="currentPage    "></app-pagination>
</div>