

    <div *ngIf="!(loader$|async)" class="list-container">
        <!-- <div class=""> -->
        <div class="users-container" *ngIf="(users|filter:serchText).length>0 ;else noUser">
            <div class="user-container" *ngFor="let user of users|filter:serchText">
                <a routerLink="{{user.id}}">
                    <app-user [userdata]="user"></app-user>
                </a>
            </div>

        </div>

        <ng-template #noUser>
            <p class="no-users">no user found</p>
        </ng-template>

        <!-- </div> -->
        <div class="paginator" >
            <app-pagination (pageNum)="changePageIndex($event)" [totalPages]="totalPges"
                [currentPage]="currentPage    "></app-pagination>
        </div>

    </div>